<h2>Socios</h2>
<hr>
<form action="">
    <input type="email" id="email" placeholder="correo electronico">
    <input type="submit" name="" id="btnSubmit" value="ingresar">
</form>

<script src="/js/index.js"></script>